header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.panel-wrapper {
  width: 100%;
  position: fixed;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding-top: 36px;
  background: white;
}

.panel {
  width: 36%;
  margin: 0 auto;
}

.total-amount {
  font-size: 5rem;
  color: orange;
}

.record-list {
  margin: 300px 0 160px;
}

.list-group-item {
  position: relative;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-group-item:nth-child(odd) {
  background: #eeeeee;
}

.category-icon-wrapper {
  width: 60px;
  display: flex;
  justify-content: center;
}

.category-icon {
  font-size: 3rem;
  color: cornflowerblue;
}

.fa-shuttle-van {
  font-size: 2.5rem;
}

.item-btn-wrapper {
  box-sizing: content-box;
  width: 160px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  padding-left: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-btn {
  border: 0;
  padding: 0 12px;
  font-weight: bold;
  height: 80px;
  line-height: 80px;
}

.new-btn-wrapper {
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 48px 0;
  background: white;
}

.new-btn {
  width: 30%;
  display: block;
  margin: 0 auto;
  padding: 8px 0;
  font-size: 1.2rem;
  font-weight: bold;
}